.nav-link {
    color: gray;
}

.nav-link:hover {
    color: red;
}
.wrap{
    background-color: black;
}

.nav {
    float: inherit;
}
main, header, footer
{
    background-color:rgb(56, 55, 55);
   
}
body
{
    background-color: black;   
}
.container
{
    background-color: whitesmoke;
}

h1 {
    padding: 20px;
}

div {
    border-collapse: collapse;
    border-top: 0px solid white;
    padding-top: 0px;
    text-align: center;
    float: none;
    border-top-width: none;
}

span.x {
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(235, 108, 139);
    border-radius: 5px;
    color: white;
    font-size: 24px
}

.btn {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
    border-radius: 0px;
}

.row-x {
    padding: 1px;
    border: 0px solid white;
    margin: 0px;
}

.foto2 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('foto2.jpg');
   
}

img {
    display: block;
    height: auto;
}

.col {
    padding-left: 0px;
    padding-right: 0px;
}

.pop {
    color: plum;
    font-size: 150%;
    border-bottom: 2px solid plum;
    text-align: left;
    padding-bottom: 1px;
    padding-top: 15px;
}

.pop-2 {
    border-bottom: 2px solid white;
    color: white;
    padding: 10px;
}

.pop-3 {
    border-bottom: 2px solid black;
    color: black;
    padding: 10px;
    text-align: left;
    font-size: 120%;
}


.mini {
    color: black;
    font-weight: 600;
    text-align: left;
    margin-top: 10px;
    margin-block: 10px;
}

.mini-1 {
    font-weight: 100;
    color: black;
    text-align: left;
    margin-top: 5px;
}

.img-1 {
    display: block;
    height: auto;
    max-width: 100%;
}
img{
    display: block;
    height: auto;
    max-width: 100%;
}
.col-new{
    padding: 10px;
}

.post-content {
   
    margin: 0 auto;
    margin-top:-60%;
    margin-left: 15%;
    text-align:center;
    position: relative;
    width:50%; 
    font-size: 30px; 
    color:white; 
    line-height: 0.9;
     
}

.post-content-mini {
   
    margin: 0 auto;
    margin-top:-30%;
    margin-left: 15%;
    text-align:center;
    position: relative;
    width:40%; 
    font-size: 20px; 
    color:white; 
    line-height: 0.7;
     
}
.post-content-love {
   
    margin: 0 auto;
    margin-top:-90%;
    margin-left: 15%;
    text-align:center;
    position: relative;
    width:70%; 
   
    color:white; 
    line-height: 1;
     
}
.thumbnail {
    margin:0 auto;
    text-align:center;
}

.wrapper {
    text-align:center;
}
small
{
    font-size: 20px;
}

.foto-no
{
    border:0 solid white;
     padding: 0px;
      margin: 0px;
}
